@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: whitesmoke;
}
::-webkit-scrollbar-thumb{
    background: indigo;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: royalblue;
}
